body {
    padding-top: 40px;
    font-family: 'Source Sans Pro', sans-serif;

    padding-bottom: 80px;
    overflow: show;


    height: 100%;

    background: url(background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    }

    .container {
    border-radius: 10px;
    height: 100%;
    }

    .header {
    width: 100%;
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #41C4F0;
    color: white;
    }

    .navbar-content {
    padding-top: 10px;
    }

    .special-btn {
    text-align: left;
    padding-left: 0px;
    }

    .btn-flat {
    border-radius: 0px;
    }

    .upload-btn {
    text-align: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    text-transform: capitalize;
    font-size: 20px;
    }

    .upload-btn:active {
    color:black;
    }

    .upload-btn:hover {
    color:black;
    }

    .upload-btn:active {
    color:black;
    }

    .upload-btn:visited {
    color:black;
    }


    .uploadimage-dragndrop { border: 0px #DDD; margin: 0px 0; padding: 50px 20px; text-align: center; color: #DDD; }
    .uploadimage-text { font-size: 32px; margin-bottom: 20px; }
    .uploadimage-input { margin: 20px 0; }
    .uploadimage-upload { background: #EEE; margin: 0px 0; }
    .uploadimage-uploadcompleted { background: #d1f4ac; }
    .uploadimage-fileinfo { padding: 5px; font-size: 11px; position: relative; }
    .uploadimage-progresspct { position: absolute; top: 5px; right: 5px; }
    .uploadimage-progress { background: #999; }
    .uploadimage-progressbar { background: maroon; height: 2px; }
    .uploadimage-totalprogress { background: #999; }
    .uploadimage-totalprogressbar { background: #107EC2; height: 6px; }


    .noPadding {
    padding-top: 0px;
    padding-bottom: 0px;
    }


    .sp {
    padding-top: 22px;
    }

    .area {
    background-color: #61D7FF;
    }

    .uparea {
    border-radius: 4px;
    border: 0px;
    }

    .dz-message span {
    font-size: 180%;
    color: black;
    }


    .dz-image {
    border: 1px #DDD;
    }

    .col-md-6 {
    background-color: #fff;
    border-radius: 25px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: auto;
    400px;

    -webkit-box-shadow: 0px 0px 59px 8px rgba(255,252,255,1);
    -moz-box-shadow: 0px 0px 59px 8px rgba(255,252,255,1);
    box-shadow: 0px 0px 59px 8px rgba(255,252,255,1);

    }

    .sweet-alert {
    font-family: 'Josefin Slab', sans-serif;
    }

    a {
    text-decoration: none;
    }